sheader 
            .header.flex-content 
                .header__logo-nav.flex-content
                    .logo 
                        img(src= img + "Logo.svg", alt="logo")
                    nav 
                        ul.nav__item.flex-content  
                            -var list = ['Buy', 'Blog', 'About', 'Contact']
                            each item in list
                                li.item-list= item
                        .modal-window 
                            ul.modal__item 
                                -var list = ['Category number one', 'Apartments in Dubai', 'Category number twenty five']
                                each item in list 
                                    li.item-list= item 
                .header__button-lang-contact.flex-content 
                    .header__button.btn 
                        a(href="") Book a consultation 
                    .header__lang-contact.flex-content 
                        ul.lang__item.flex-content 
                            -var list = ['EN', 'RU'];
                            each  item in list 
                                li.item-list= item 
                        p.contact +7 (212) 674-25-10