section
            .subscribe 
                .subscribe__text
                    p.sb-title Do you have any questions?
                    h1.title Contact us
                    form(action="")
                        input(type="text" value = '' placeholder = 'Enter your mail')
                        input(type="submit" value = 'Send') 